---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import marcfranquesaImage from "@/assets/marcfranquesa.jpg";
---

<BaseLayout>
  <div class="content">
    <div>
      <p>
        I am a 4th-year undergraduate student at <a
          class="outside-link"
          href="https://cfis.upc.edu/en"
          target="_blank">CFIS-UPC</a
        >, majoring in Mathematics and Data Science. I'm broadly interested in
        applied math. I also like to build stuff.
      </p>
      <p class="socials">
        <a class="outside-link" href="https://resume.marcfranquesa.com"
          >Resume</a
        > |
        <a class="outside-link" href="https://github.com/marcfranquesa"
          >Github</a
        > |
        <a
          class="outside-link"
          href="https://www.linkedin.com/in/marcfranquesam">Linkedin</a
        >
      </p>
    </div>
    <Image src={marcfranquesaImage} alt="Marc Franquesa" loading="eager" />
  </div>
</BaseLayout>

<style>
  p {
    text-align: justify;
  }

  img {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .socials {
    text-align: center;
  }

  p.socials a {
    padding: 5px;
  }

  @media screen and (max-width: 636px) {
    .content {
      flex-direction: column-reverse;
      padding-top: 20px;
    }
  }
</style>
