---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <h1>Marc Franquesa Monés</h1>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #ccc;
  }
</style>

<script>
  document.querySelector(".hamburger")?.addEventListener("click", () => {
    document.querySelector(".nav-links")?.classList.toggle("expanded");
  });
</script>
